<header class="site-header">
  <div class = "site-identity">
    <h1><a href="#">Blog App</a></h1>
  </div>
  <nav class="site-navigation">
    <ul class="navbar">
      <li><a href="/"></a>Create Blog</li>
      <li><a href="/home"></a>View all blogs</li>
    </ul>
  </nav>
</header>