<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/content.css">
</head>
<header class="site-header">
  <div class="site-identity">
    <h2><a href="#">Blog App</a></h2>
  </div>
  <nav class="site-navigation">
    <ul class="navbar">
      <li><a href="/">Create Blog</a></li>
      <li><a href="/home">View all blogs</a></li>
    </ul>
  </nav>
</header>